.logo img{
    width: 290px;
    padding-top: 40px;
}
.menu{
    padding-top: 53px;
    text-transform: uppercase;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-size: 17px;
    text-decoration: none;
}
.menu ul li a:hover{
    border: 1px solid #f6f6f6;
    padding: 4px 12px;
    border-radius: 20px;
    transition: .8s;
}

hr{
    border: 2px solid #e4e4e4;
    margin-top: 5px;
}
.main{
    background: #EE4A3F;
    margin-top: -16px;
}
.main-one{
    padding-top: 40px;
}
.main-one img{
    padding-top: 20px;
    width: 650px;
}
.main-one p{
    padding-top: 40px;
    font-size: 18px;
    opacity: 0.7;
    text-align: justify;
    color: white;
}
.main-two{
    padding-top: 50px;
}
.main-two img{
    width: 300px;
}
.form{
    padding: 40px;
    background: #EE4A3F;
}
.form-one{
    padding-left: 190px;
    color: white;
}
.form-two{
    padding-left: 100px;
    color: white;
}
.form-three{
    font-family: 'Kaushan Script', cursive !important;
    margin-left: -50px;
    margin-top: 99px;
}
label{
    padding-top: 25px;
    opacity: 0.9;
}
.form-text{
    width: 290px;
    height: 40px;
    margin-top: -1px;
    opacity: 0.2;
}
footer{
    text-align: center;
    background: #ef4035;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #f6f6f6;
}

@media (max-width: 768px){
    .logo img{
        width: 150px;
    }
    .menu{
        padding-left: 30px;
        padding-top: 39px;
    }
    .menu ul li a{
        font-size: 14px;
        margin-left: 10px;
        font-size: 13px;
    }
    .menu span{
        margin-left: 10px;
    }
    .main-one img{
        width: 420px;
        margin: 0 auto;
        font-display: block;
    }
    .main-two img{
        width: 370px;
        margin: 0 auto;
        display: block;
    }
    .main h2{
        text-align: center;
    }
    .form-one{
        width: 100px;
    }

}